body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
body {
  background: url("../images/background.jpg");
  background-size: cover;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#score {
  height: 5%;
  background: black;
  color: white;
  font-size: 16px;
}
#score .area {
  width: 33.333333%;
  text-align: center;
  float: left;
  padding-top: 3px;
}
#drawer-area {
  width: 100%;
  height: 20%;
  top: 5%;
  position: absoulte;
}
#drawer {
  width: 110px;
  height: 150px;
}
.card {
  background-image: url("../images/cards.svg");
}
.card.sample {
  height: 80%;
  background: none;
}
.card.clubs {
  background-position-y: 0;
}
.card.hearts {
  background-position-y: 25%;
}
.card.spades {
  background-position-y: 50%;
}
.card.diamonds {
  background-position-y: 75%;
}
.card._0 {
  background-position-x: 0;
}
.card._1 {
  background-position-x: 8.3333333%;
}
.card._2 {
  background-position-x: 16.6666667%;
}
.card._3 {
  background-position-x: 25%;
}
.card._4 {
  background-position-x: 33.3333333%;
}
.card._5 {
  background-position-x: 41.6666667%;
}
.card._6 {
  background-position-x: 50%;
}
.card._7 {
  background-position-x: 58.3333333%;
}
.card._8 {
  background-position-x: 66.6666667%;
}
.card._9 {
  background-position-x: 75%;
}
.card._10 {
  background-position-x: 83.3333333%;
}
.card._11 {
  background-position-x: 91.6666667%;
}
.card._12 {
  background-position-x: 100%;
}
.card.back {
  background-position: 0 100%;
}
